body{
  background: black;
}

.cumulonimbus{
  position: fixed;
  top: 0; left: 0;

  width: 100%;
  height: 100%;

  font-size: 8em;

  /* sizeX = 6.4 + radius + α, sizeY = 3.2 + radius + α */
  background: 
    radial-gradient(3em at 3.0em 3.0em, #202050 50%, transparent 50%) -2em -4em / 8em 5em repeat-x,
    radial-gradient(3em at 4.2em 1.8em, #202050 50%, transparent 50%) -2em -4em / 8em 5em repeat-x,
    radial-gradient(3em at 5.2em 2.2em, #202050 50%, transparent 50%) -2em -4em / 8em 5em repeat-x,
    radial-gradient(3em at 6.4em 3.0em, #202050 50%, transparent 50%) -2em -4em / 8em 5em repeat-x,
    radial-gradient(3em at 4.7em 3.2em, #202050 50%, transparent 50%) -2em -4em / 8em 5em repeat-x,

    linear-gradient(to bottom, black, darkgray);

  z-index: 1;
}


/* 雷 */
.lightning{
  position: fixed;
  top: 0; right: 35%;
  
  width: 1px; height: 50px;
  background-color: #E2F0FF;

  transform-style: preserve-3d;
  transform: translate(-50%,-100%);

  animation: lightning 3s linear infinite;
  z-index: 1;
}

.lightning div{
  position: absolute;
  top: 50%; left: 50%;

  width: 100%; height: 105%;
  background-color: inherit;
  box-shadow: inherit;

  transition: .1s;
}

.lightning div:nth-child(odd){
  transform-origin: left top;
  transform: translate(-50%,-50%) translateY(100%) rotate(55deg) scaleX(-1);
}

.lightning div:nth-child(even){
  transform-origin: right bottom;
  transform: translate(-50%,-50%) translateY(100%) rotate(-35deg) scaleX(-1);
}

.lightning.far,
.lightning.far div{
  transform: 
    translate(-50%,-50%) translateY(100%) 
    rotate(55deg) scaleX(-.5) translateZ(-30px);
}


@keyframes lightning{
  0%,45%{
    background-color: transparent;
    box-shadow: none;
  }
  46%, 100%{
    background-color: #E2F0FF;
    box-shadow: 
      0 0 10px 0 yellow, 0 0 50px 10px #647ED0;
  }
}

.tornado{
  position: fixed;
  bottom: 1%; left: 50%;

  width: 60px; height: 60px;
  border: 4px solid black;
  border-right-color: transparent;
  border-radius: 100%;

  transform-style: preserve-3d;
  transform: translate(-50%, 0%) rotateX(77deg) scale(.85);

  z-index: 2;
}

.tornado div{
  position: absolute;
  top: 50%; left: 50%;

  width: 120%; height: 120%;
  border: inherit;
  border-color: inherit; 
  border-right-color: inherit;
  border-radius: inherit;

  box-sizing: border-box;
  transform-style: preserve-3d;
  transform: translate(-50%,-50%) rotate(0) translateZ(0);
}


/*　animation　*/
.tornado{
  animation: 
    rootSpin 3s linear infinite alternate;
}

.tornado div{
  transition: border-color .1s;
  animation: spin 3s linear infinite alternate;
}

.tornado div.turn{
  animation: 
    spin 3s linear infinite alternate;
}

@keyframes rootSpin{
  from{
    transform-origin: -200% bottom;
    transform: translate(-50%, -50%) rotateX(77deg) scale(.85) rotate(0) rotateY(5deg);
  }
  to{
    transform-origin: +200% bottom;
    transform: translate(-50%, -50%) rotateX(77deg) scale(.85) rotate(360deg) rotateY(5deg);
  }
}

@keyframes spin{
  from{
    transform: translate(-50%,-50%) translateX(2px) rotate(0) translateZ(15px);
  }
  to{
    transform: translate(-50%,-50%) translateX(2px) rotate(360deg) translateZ(25px);
  }
}